.button {
    display: inline-block;
    padding: 8px 30px;
    border-radius: 50px;
    color: #ffffff;
    background-color: #2f60c3;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border: none;
    -webkit-box-shadow: 2px 5px 20px -5px rgba(0, 0, 0, 0.1);
    box-shadow: 2px 5px 20px -5px rgba(0, 0, 0, 0.1);
}

.button.landing,
.button:hover {
    background-color: #6e5494;
    color: #eadcff;
}

.button.landing:hover {
    background-color: #d4bff3;
    color: #482b74;
}

#centeringV {
    margin-top: 12vh;
    /* border: 5px solid yellow; */
    align-content: center;

}

#centeringH {
    margin: auto;
    /* border: 5px solid red; */
    align-content: center;
    /* width: 50%; */
}

#centeringText {
    text-align: center;
}

#centeringTextTitle {
    text-align: center;
    font-size: 8vh;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
}

.btn-primary,
.btn-primary:active,
.btn-primary:visited {
    background-color: #3090BF !important;
}

.btn-primary:hover {
    background-color: #267399 !important;

}

#gpsButton {
    margin: auto;
    /* border: 5px solid green; */
    align-content: center;
    width: 17%;
}

.mobileHide {
    display: inline;
}

#cardWidth {
    width: 100%;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .mobileHide {
        display: none;
    }

    #centeringTextTitle {
        text-align: center;
        font-size: 4vh;
        color: white;
        padding-top: 50px;
    }

    .col-sm {
        /* width: 33% !important; */
        /* height: 100vh !important; */
        /* border: 5px solid green !important; */
        align-content: center !important;
    }
    
    .card-title {
        font-size: 12px !important;
        padding-bottom: 5px !important;
    }

    .card-text {
        font-size: 12px !important;
    }

    .card-img-top {
        height: 10vh !important;
        object-fit: cover    !important;
    }



}